#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #D9D9D9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Estilos genéricos para o card */

.card-with-shadow-border {
  width: 100%;
  border: 1px solid #D9D9D9;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
}

@media (max-width: 575px) {
  .card-with-shadow-border {
    border: none;
    background-color: transparent;
    padding: 1rem;
    box-shadow: none;
  }
}

@media (min-width: 576px) {
  .card-with-shadow-border {
    width: 576px;
    min-width: 576px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.text-error {
  font-size: 0.8rem;
  margin-top: 2px;
  color: #dc3545;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}